/* CSS designed by Robert M. Erickson */

/* ===================  General Section  ==================================== */
@import url('reset.css');

* {
    font-size:12pt;
}

.printonly{display:none;}
html, body {
    height: 100%;
    cursor:url(images/spo149.gif),url(myBall.cur),auto;
}

html{
    background-image: url("images/htmlbackground.png");
    background-attachment: fixed;
    background-size: 100%, 100%;
    background-position-y: -250px; 
}


body {
    width:100%;
    min-width:600px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

a{
    border-width: .1em;
    font-family: "century gothic";
}

a[target="_blank"]{
    border-bottom: 2px solid red !important;
}

a:link{
    color: navy;
    border-style: solid;
    border-color: transparent;
    cursor:url(images/spo149.gif),url(myBall.cur),auto;
}
a:visited{
    color: #6666B3;
    /*#90C13E !important;*/
}
a:hover {
    font-weight: bold;
}

code{
    font-family: "Courier New", Courier, monospace 
}
h1, h2, h3 {
    display:block;
    font-weight:bold;	
    margin:.8em 0 .2em 0;
    padding:0;
    text-transform: uppercase;
    font-family: "Rockwell Extra Bold";
}

h1{
    font-size:2em;
}

h2, h2 a{
    font-size:1.5em;
}

h3{
    font-size:1.5em;
}

img {
    margin:10px 0 5px;

}
#slide img {

    max-width: 100%;
}

p {
    padding: .4em 0 .8em 0;;
    margin: 0;
    font-family: "century gothic";
}
ol li {
    padding-bottom: 1em;
    clear: left;
    font-family: "century gothic";
}
ol ol li {
    padding-bottom: 1em;
    font-family: "century gothic";

}

strong{
    font-weight:bolder;
}
.firstLine{
    text-indent: 5em;
}

/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

/* style the list of errors that will show before the form */
#errors ol li{
    color: #880000;
}


/* ===================  Header  Section  ==================================== */

#topbox{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    background-image: url("images/CircusTent__Converted_.jpg");
    background-position: -210px, -400px;
    overflow: hidden;
    border-left: thick solid black;
    border-right: thick solid black;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
#header {
    background-color: #3B5998;
    border-bottom:1px solid #000;
    color: #fff;
    padding:10px;
}

#header a:link{
    color: #fff;
}

#header a:hover{
    background-color:#6D86B7;
}

#classtitle{
    font-size:20px; 
    font-weight:bold;
    text-align: center;
    margin-bottom: 1em;
}

#classtitle a{
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
    color: black;
}

.todaysdate{
    float:right;
}

#toolmenu{
    float:right;
}

/* ===================  Student Info Section  =============================== */
#studentInfo{  
    color:black;
    /* 
    width: 16%;
    border: thick dashed #3B5998;
    float: left;*/
    margin-bottom: 3em;
    width: 90%;
    float: left;
    margin-left: 8%;
    margin-right: 8%;
}

#classRank{
    font-size: 14pt;
    margin-left: 8%;
    margin-right: 8%;
}

#studentName{
    font-size: 14pt;
    margin-left: 8%;
    margin-right:8%;
}

#studentGrade{
    font-size: 14pt;
    display:inline-block;
    margin-left: 8%;
    margin-right: 8%;
}	

#studentGrade a:visited{
    color: navy;
    margin-left:8%;
    margin-right: 8%;
}	

#classRank{
    display:inline-block;
}

.noticeMe{ /* -------    for guests who are not registered , not accpeted submission */ 
    font-weight: bold;
    font-size: 16pt;
    color: #ff0000;
    background: #ff3;	
}

/* ===================  Main Navigation Section  ============================ */
#mainMenu{
    /* border-bottom: thin solid #3B5998;
     float: right;*/
    font-size: 10pt;
    margin: auto;
    margin-top: 2.5em;
    width: 100%;
    max-height: 170px;
    background-image: url(images/corkboard.jpg);
    background-repeat: repeat;
    background-size: 250px;
    overflow: hidden;
}

#mainMenu ol{

}

#mainMenu a{
    text-decoration: none;
}

#mainMenu ol li{
    background-size: 99%;
    background-repeat: no-repeat;
    display: inline-block;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}

#mainMenu ol li a{
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
    transform: rotate(-40deg);
    overflow: hidden;
    padding-top: 2em;
    padding-bottom: 4em;
    text-align: center;
    margin-top: 10%;
    margin-left: 8%;
    font-size: 8pt;
    font-weight: bold;
    font-family: "century gothic";
}

#mainMenu ol li:hover{
    -webkit-animation: example 1.5s infinite; /* Safari */  
    animation: example 1.5s infinite;
}

/* Safari */
@-webkit-keyframes example {
  0%  { -webkit-transform:  rotate(40deg);
        transform : rotate(40deg); }
  25%  { -webkit-transform:  rotate(37deg);
        transform : rotate(37deg); }
  60%  { -webkit-transform:  rotate(43deg);
        transform : rotate(43deg); }
  100%  { -webkit-transform:  rotate(40deg);
        transform : rotate(40deg); }
}

/* Standard syntax */
@keyframes example {
  0%  { -webkit-transform:  rotate(40deg);
        transform : rotate(40deg); }
  25%  { -webkit-transform:  rotate(37deg);
        transform : rotate(37deg); }
  60%  { -webkit-transform:  rotate(43deg);
        transform : rotate(43deg); }
  100%  { -webkit-transform:  rotate(40deg);
        transform : rotate(40deg); }
}

#mainMenu ol li:active{
    background-size: 95%;
    background-repeat: no-repeat;
    display: inline-block;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
    overflow: hidden;
}

#mainMenu ol li:nth-child(1){	
    background-image: url("images/blue_balloon.png");
}

#mainMenu ol li:nth-child(2){	
    background-image: url("images/yellow_balloon.png");
}

#mainMenu ol li:nth-child(3){	
    background-image: url("images/red_balloon.png");
}

#mainMenu ol li:nth-child(4){	
    background-image: url("images/blue_balloon.png");
}

#mainMenu ol li:nth-child(5){	
    background-image: url("images/yellow_balloon.png");
}

#mainMenu ol li:nth-child(6){	
    background-image: url("images/red_balloon.png");
}

#mainMenu ol li:nth-child(7){	
    background-image: url("images/blue_balloon.png");
    vertical-align: -1em;
}

#mainMenu ol li:nth-child(1):active{	
    background-image: url("images/bluePop.png");
    background-position: center center;
}

#mainMenu ol li:nth-child(2):active{	
    background-image: url("images/yellowPop.png");
    background-position: center center;
}

#mainMenu ol li:nth-child(3):active{	
    background-image: url("images/redPop.png");
    background-position: center center;
}

#mainMenu ol li:nth-child(4):active{	
    background-image: url("images/bluePop.png");
    background-position: center center;
}

#mainMenu ol li:nth-child(5):active{	
    background-image: url("images/yellowPop.png");
    background-position: center center;
}

#mainMenu ol li:nth-child(6):active{	
    background-image: url("images/redPop.png");
    background-position: center center;
}

#mainMenu ol li:nth-child(7):active{	
    background-image: url("images/bluePop.png");
    background-position: center center;
}

.menuLink{
    display: block;
    width: 6%;
    height: 100%;
    margin-left: 2em;
    margin-right: 2.6em;
    text-align: center;
    overflow: hidden;
}
.menuLink a{
    display: block;
    color: black;
    font-weight: normal;
    font-size: 10pt;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menuLink a:link{
}

nav#mainMenu ol li.menuLink a:visited{
}
.menuLink a:hover{
}

/* ===================  Main Content Section  =============================== */
#mainContent {
    background-color: rgba(255,255,255,.5);
    border-left: thick solid black;
    border-right: thick solid black;
    width: 72%;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
    overflow: auto;
}

.body {
    background-image: url(images/do!rwy2.png);
    background-repeat: repeat;
    border-left: thick solid black;
    border-right: thick solid black;
}

#mainContent a:visited{
    color: #6666b3; /*#ffaa11;*/
}


/*hilite me div goes out of bounds :( */
div[style*="background"], .code{
    width: 80% !important;
}
/* ===================  Main Content Section  =============================== */
/* -------------------  Student Grade Page    ------------------------------- */

/* -------------------------- Grades ---------------------------------------- */

/* -- used for automatic grading -- */
.certain{
    background: #66aa66;
}

.uncertain{
    background: #fff000;
}
/* -------------------------------- */
.newCriteria{
    background: #eeffee;
}

.oldCriteria{
    background: #ffffff;
}
.wrongCriteria{
    background: #ffeeee;
}

.zeroPoints {
    border: thin solid black;
}
.bonusPoints{
    border: thin solid blue;
}
.avggrade {
    background-color: #ffffcc !important;
    color: #ffcccc;
}

.failing {
    background-color: red !important;
}

.hypo {
    background-color: lightgreen !important;
}
.percent{
    float: right;
    padding-left: 0.25em;
}
#GradeCriteria{
    top: 75px;
    margin-bottom: 2em;
}

.GradesReleased {
    background-color: #66cc00 !important; 
    color: #ffffff !important;
}
.GradesReleased a:visited, .GradesReleased a:link{
    color: #ffffff !important;
}
.GradesReleased .highlight {
    color: #000000;
}

.GradingStarted {
    background-color: #fff000 !important; 
    color: #000000 !important;
}

.NotGraded {
    background-color: #aa0000; 
    color: #ffffcc;
}
#listStudents span.NotGraded {
    background-color: #aa0000; 
    color: #ffffcc;
}

#listStudents span.notSubmitted:before{
    content: "* ";
}
#listStudents span.notSubmitted{
    background-color: #fff;
    color: #000;
}
table#grading{
    margin: auto;
}

table#grading, table#grading td, table#grading th{
    border: 1px solid gray; 
    padding: 8px; 
    text-align: right;
}

.standard {
    color: Black;
    text-align: left;
    background-color: white;
    font-family: Arial;
    border-collapse: collapse;
}

.standard th {
    border-color: black;
    color: white;
    border: solid #000 1px;
    background-color:  #3b90cc;
    text-align: center;
    font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
    padding: 4px; 
}

.standard td {
    border: 1px dashed black;
    text-align: right;
    font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
}


/* ===================  Main Content Section  =============================== */
/* -------------------  layout                ------------------------ */


#lectureSlide #otherMedia, #displayAssign #otherMedia, #lecture #otherMedia{
    /*	float: right;
            width: 17%; /* 331px / 900px */
}

#lecture #studentComments, #lectureSlide #studentComments, #displayAssign #studentComments{
    clear: both;
    margin-top: 1em; /* does not do anything :( */
    /*width: 36.7777778%; /* 331px / 900px */
}

#txtComments{
    width: 80%;
    height: 5em;
}
/* -------------------  Assignment / Lectures pages  ------------------------ */
.assignment a{
    color: #cc4444;
}

ol.webReviewList li{
    list-style-type: none;
    margin-left: 0;
    font-size: xx-small;
}

ol.webReviewList li.hidden{
    display:none;
}

ol.webReviewList li.tentative{
    background-color: #ffcfcf;
    font-style: italic;
}

ol.webReviewList li.tentative:before{
    content: "Tentative: ";
}

.current{
    border: thin solid #C3C3E5;
    font-weight: bold;
}

/* the perr grading page to highlight the current student you are working on */
#peerGrade .current{
    border: thick solid #C3C3E5;
    font-weight: bold;
}
#peerGrade ol li{
    padding: .5em;

}
.notStudentLink{ /* for instructor to see link is not avaliable to students */
    background-color: #ffa;
}

.summary{
    display: block;
}

.title{
    padding: .5em;
    text-decoration: none;
}

.small{
    width: 150px;
}
.fifty{
    width: 50%;
}
.onehundred{
    width: 100%;
}
figure.img-left{
    border: thin solid darkslategray;
    float: left;
    padding: .5em;
    margin-right: 1em;
}
figcaption{
    text-align: center;
    color: #839E99;
    font-style: italic; 
}

.LecturesLink{ /* also used on calendar */  
    list-style-type: none;
}

.lectureLeftPicture{
    float: left; 
    padding-right: 1em;
}

.lectureRightPicture{
    float: right; 
    padding-left: 1em;
}

.videoList li{
    list-style-type: none;	
}

#otherMedia ol li{
    list-style-type: none;
    clear: both;
    border-top: thin dotted  #999999;
    padding-top: .4em;
    padding-bottom: .4em;
    margin-bottom: 1em;
    
}

#otherMedia ol li a[href*="http://"]{
    border-left: darkblue solid medium;
    border-bottom: darkblue solid medium;
    padding-left: 1em;
    padding-right: 1em;

}


#otherMedia ol li audio{
    /*	float: left; */
    /*	height: 48px; */
    width: 50%;
    padding-right: .2em;
    margin-top: 0;
}
#otherMedia ol li img{
    float: left;
    height: 1em;
    margin-top: 0.5em;
    padding-right: 0.2em;
}

.groupMembers li{
    list-style-type: none;
}




/* ===================  Main Content Section  =============================== */
/* -------------------  Calendar page         ------------------------------- */
.Absent{
    color: #ffbfbf !important;
    background: #aa0011 !important;
    text-align: center;	
}

.assignment{
    color: #cc4444;
    margin:0;
    padding: 0.125em 0.25em 0 0.25em;
    text-align:center; 	 
}

.callInSick{
    float: left;
    margin: 0;
}

div.date{
    float: right; 
    text-align:center; 
    border: 1px solid gray; 
    border-width: 0 0 1px 1px; 
    padding: 0.125em 0.25em 0 0.25em; 
    margin:0;  
    background: #F3F3F3; 
    width: 2em;
}

.Excused{
    color: #aa0011 !important;
    background: #ffadad !important;
    text-align: center;	
}

#fullCalendar{
    float:right;
    font-size: small;
}

.labComplete{
    color: #24B300 !important;
    background: #ffcfcf !important;
    text-align: center;	
}

.FreeDay{
    color: #24B300 !important;
    background: #aacfcf !important;
    text-align: center;	
}

.Late{
    color: #24B300 !important;
    background: #ddffdf !important;
    text-align: center;	
}

.Personal{
    color: #aa0011 !important;
    background: #ffcfcf !important;
    text-align: center;	
}

.Present{
    color: #24B300 !important;
    background: #CCFFBF !important;
    text-align: center;
}

.presentation{
    border: dashed medium #ff0000 !important;
}
.Sick{
    color: #aa0011 !important;
    background: #ffadad !important;
    text-align: center;	
}

.submitted{
    border: thin solid green;
}

.notSubmitted{
    border:thin solid red;
}
.TOPIC { 
    color: #4444CC; 
    text-align:center; 
    padding: 0.125em 0.25em 0 0; 
    margin:0;  
}

.VACA {
    background-color: #dfdfff; /*#EABFFF;*/ 
    font-style: italic;
}

ol.taVisists li{
    list-style-type: none;
    margin-left: 0;
}

ol.taVisists li.null{
    font-weight: bold;
}
ol.taVisists li.null:before{
    content: "Appt ";
}

ol.taVisists li.Show{
    background: none repeat scroll 0 0 #ccffbf !important;
    color: #24b300 !important;
}
ol.taVisists li.NoShow{
    background: none repeat scroll 0 0 #aa0011 !important;
    color: #ffbfbf !important;
}

tr.days{
    width:18%;
}

tr.days th.sat, tr.days th.sun {
    width:14%;
}

#calendar table tr.days th,  table tr.days th {
    background-color: firebrick;
    color: white;
    font-weight: bold;
    padding: 1px 0.33em;
    text-align: center;
}

#calendar table tr#title th {
    background-color: #AAC; 
    color: black;
    border: 1px solid #242;
    font-size: 120%;
}

#calendar table tr:nth-child(even){
    background-color: rgba(0,150,255,.25);
}

#calendar table tr:nth-child(odd){
    background-color: rgba(255,0,0,.25);
}

#calendar #vcalendar tbody .monthHeader {
    background-color: white;
}

.days th:nth-child(1){
    border-top-left-radius: 2em;
}

.days th:nth-child(7){
    border-top-right-radius: 2em;
}

#vcalendar{
    background-color: rgba(255,255,255,1);
}

#calendar table td {
    vertical-align:top;
    padding:3px; 
    border: 0px solid gray; 
    border-width: 0 0 1px 1px;
    width:14%;
}

#calendar table td.Sat {
    border-width: 0 1px 1px 1px;
}

#calendar table a {
    text-decoration: none;
    font-weight: bold;
    display: block; 
}

td.Sat div.date, td.Sun div.date{
    border-width: 0;
    color: gray; 
    background: transparent;
}

td.Jun div.date, td.Aug div.date{
    border-width: 0; 
    color: gray; 
    background: transparent;
}	

#calendar table td.Sat, #calendar table td.Sun {
    background: #ddd;
}

#calendar table td.lastMonth, #calendar table td.nextMonth, #calendar table td.prevMonth {
    background: #AAB; 
    color: #889;
}

#calendar table tr#lastweek td {
    border-bottom: 2px solid #AAB;
}

#calendar table td.atoday {
    color: #C33;
    font-weight: bold; 
    background: #FF6; 
    border: 1px solid black;
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Call in sick Page     ------------------------------- */


/* ===================  Main Content Section  =============================== */
/* -------------------  Syllabus Page         ------------------------------- */
.noBorder{border: 0px;}

.hideText{ 
    color: #ffffff;
}

.emailText{
    color: #adadad;
}
.highlightRed{ 
    background-color: #cc0033;
    color: #ffffff;
}

#syllabus table, #syllabus table td, #syllabus table th{
    border: 1px solid gray; 
    padding: 3px; 
}
#tahours .hourBox:hover{
    background-color: highlight;
    color: white;
}
#tahours .hourBox{
    padding: .3em;
    border: thin solid blue;
    border-radius: 8px;
    text-align: center;
    left: 0;
}

#tahours span{
    display: block;
}
#tahours .dayColumn{
    border: thin solid;
    float: left;
    font-size: 10px;
    width: 12.8793%;
}
#tahours .header{
    text-align: center;
    font-weight: bold;
}
#tahours a:hover{
    background-color: highlight;

}

/* ===================  Main Content Section  =============================== */
/* -------------------  Submit Assignment Page  ----------------------------- */
#filesSubmited{
    clear: both;
    border-top: 1px dashed navy;
    padding: 1em 1em 1em 1em;
}
#submitAssignment iframe{ 
    width:70%;
}

.left {
    text-align: left;
}

.submith1{font-weight: bold;
          font-size: 14pt;
}

#submitAssignments{
    width: 80%;
}

.AssignmentsLink li{
    font-size: 14pt;
    font-family: "century gothic";
}

#txtDateRequest{
    width: 7em;
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Lecture Page          ------------------------------- */
#frmDemo{

    /*width:100%;*/
    overflow:auto;
}


#frmDemo pre, #tblValidation pre {
    border: thin solid black;
    padding: 0;
    white-space:pre-wrap;
}

#frmDemo table, #tblValidation {
    margin: auto;
    border-collapse: collapse; 
    border: 1px solid #839E99;
    background: #f1f8ee; 
    font: .7em Georgia, "Times New Roman", Times, serif; 
    color: #033; 
}

#frmDemo table td, #frmDemo table th, #tblValidation td, #tblValidation th { padding: 3px 3px .75em 10px; line-height: 1.3em; 	border: thin dotted gray;}
#frmDemo table th , #tblValidation th{
    font-weight: bold; 
    text-align: center; 
    padding-right: .5em; 
    vertical-align: top;
}
#frmDemo table td, #tblValidation td { 
    text-align: left; 
    padding-right: 1em;
    border: thin dotted gray; 
}

#frmDemo, #tblValidation .odd {background-color: #DBE6DD;}
#frmDemo, #tblValidation .even {background-color: #ffffff;}

#sampleData table, #sampleData td, #sampleData th {
    border-collapse:collapse; 
    border: thin solid black; 
    padding: .5em;
}

#sampleData td:first-child + td + td, #sampleData td:first-child + td + td + td {
    text-align: center;
}

#tablestructure, #tablestructure td, #tablestructure th{
    border:thin solid black; 
    border-collapse:collapse;
    padding: .5em;
}

/* comment section */
div #studentComments{
    /* clear: all;*/
}
#studentComments {
    background-color: #E7E7E7;
    margin-top: 1em;
}

#commentHeader{
    background-color: #E0E0E0;
    padding: .2em;
}

#addComment{
    float: right;
}

.postedDate{
    float: right;
}

#studentComments article{
    padding: 1em;

}

.poster{
    font-weight: bold;	
}

.comment{
    background-color: #fff;
}

#studentComments img{
    height:	1em;
    margin-top: 0;
    margin-bottom: -.1em;
}
/* -------------------  lecture slide page   ------------------------------- */

#otherMedia{
    background-color: #FFF8DC;
    border: 2px solid;
    border-radius: 0.5em;
    clear: right;
    float: right;
    font-size: 10px;
    margin-left: 1em;
    padding: 0.5em;
    width: 20em;
}

#otherMedia ol{
    padding-left:0;
    margin-left:0;
}

#otherMedia ol li figure{
    padding-left:0;
    margin-left:1.5em;
}

#media aside#otherMedia{
    background-color: rgba(255,255,255,0);
    border: none;
    border-radius: 0;
    clear: none;
    float: none;
    margin: 0em;
    padding: 0em;
    width: 100%;
}

#media #otherMedia > h1{
    display:none;
}
#media #otherMedia ol li {
    clear: none;
    border-radius: 1em;
}

#media #otherMedia ol li:nth-child(odd) {
    clear: none;
    border-radius: 1em;
    background-color: rgb(255,150,150);
}

#media #otherMedia ol li:nth-child(even) {
    clear: none;
    border-radius: 1em;
    background-color: rgb(170,250,255);
}
/* -------------------upcoming aside  ------------------------------- */

aside {
    margin-right: -45px;
    min-width: 200px;
}

aside#upcoming{
    border: 2px solid;
    border-radius: 0.5em;
    clear: both;
    float: right;
    font-size: 8px;
    margin-left: 1em;
    padding: 0.5em;
    width: 20em;
    background: -webkit-linear-gradient(180deg, lightcyan, gainsboro); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, lightcyan, gainsboro); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, lightcyan, gainsboro); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, lightcyan, gainsboro); /* Standard syntax (must be last) */
}
#upcoming div.box{
    clear: both;
    padding-left: .5em;
}

aside#otherMedia{
    background: -webkit-linear-gradient(0deg, grey, gainsboro); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, grey, gainsboro); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, grey, gainsboro); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, grey, gainsboro); /* Standard syntax (must be last) */
}

#upcoming h2{
    float: left;
    margin: 0;
}

#upcoming ol li{
    display: inline-block;
    margin:0;
    padding-left: .2em;
}

#upcoming ol.LecturesLink, #upcoming ol.AssignmentLink, #upcoming ol.examLink{
    padding-left: 0;
}

.AssignmentLink li{
    font-size: 14pt;
    font-family: "century gothic";
}

.examLink li {
    font-size: 14pt;
    font-family: "century gothic";
}

/* ===================  Footer Section        =============================== */
footer{
    background-color: firebrick;
    border: 2px solid #3B5998;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-left: thick solid black;
    border-right: thick solid black;
    clear: both;
    color: #FFFFFF;
    height: 50px;
    left: 0;
    margin-top: -50px;
    width: 80%;
    margin: auto;
    text-align: center;
}

footer p{
    padding: 1em;
}

/* -------  i put this here so you can have your name show up  -------------- */
footer #author:after{
    content:"Robert Erickson"; 
}

#ProcessingTime{
    float: right;
}

/* ===================  Non validating Section  ============================= */
pre { 
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;
    border: thin solid black;
    padding: 1.25em;
}

code{ 
    white-space: pre-wrap;       /* css-3 */
    padding: 1.25em;
}

/* ===================  Testing New Items Section  ========================== */
/* used for grading page */
/* slider  page css*/
/*body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}*/
.demoHeaders { margin-top: 2em; }

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}

ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}

ul#icons span.ui-icon {float: left; margin: 0 4px;}

body{
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, serif;
    width: 100%;
    margin: 0 auto;
}
#toolmenu:before {
    content: 'standard screen';
}

h1{
    font-size: 1.5em; /* 24px / 16px */
    font-weight: normal;
}


/* ===================  Header  Section  ==================================== */
#header {
    background-color: #3B5998;
    border-bottom:1px solid #000;
    color: #fff;
    padding:10px;
}

#header a:link, #header a:visited{
    color: #fff;
}

#header a:hover{
    background-color:#6D86B7;
}

#classtitle{
    font-size: 1.3em;
    font-weight:bold;
}

#toolmenu{
    float:right;
    margin-top: -1.1em;
}
#toolmenu ol li{
    display:inline;
}


#termOfSubmission ol li li{
    list-style-type: lower-alpha;	
}

table#asciiTable, table#asciiTable td{
    border: thin solid black;
    padding: .5em;
}

/*
media query templates

    Created on : May 12, 2014, 8:37:00 PM
    Author     : robert erickson
*/

/* ================================ */


/* ===================  Gradeing criteria pages  ============================= */
#peerCriteria article section{
    border: thin solid black; 
    float: left; 
    width: 40%; 
    margin-right: 2em; 
    margin-bottom: 2em; 
    padding: .6em;
}

#peerCriteria article section .percent{
    background-color: #CCFFBF; 
    float:right;
}

#peerCriteria article section h2, 
#peerCriteris article section p{
    margin:0 .3em .3em .3em;
}
#peerCriteria article section#peer{
    clear: both;
    width: 85%;
}


@media screen and (max-width: 480px){
    body{
        color: #2C2C2C;
        font: normal 100% Cambria, Georgia, serif;

        margin: 0 auto;
    }

    #toolmenu{
        float:none;
        margin-top: 0;
        padding: .4em;
        padding-right: 1em;
    }
    #toolmenu:before {
        content: 'max-width: 480px';
    }
}

@media screen and (max-width: 520px){
    body{
        color: #2C2C2C;
        font: normal 100% Cambria, Georgia, serif;
        margin: 0 auto;
    }	
    #toolmenu{
        float:none;
        margin-top: 0;
        padding: .4em;
    }
    #toolmenu:before {
        content: 'max-width: 520px';
    }	
}

@media screen and (max-width: 768px){
    body{
        color: #2C2C2C;
        font: normal 100% Cambria, Georgia, serif;
        margin: 0 auto;
    }	
    #toolmenu:before {
        content: 'max-width: 768px';
    }	
}

/**************************************************/
@media screen and (max-width: 520px){
    /* ===================  Main Navigation Section  ============================ */
    #mainMenu{	
    }

    #mainMenu a, #adminMenu a{
        text-decoration: none;
    }

    .menuLink{
        display: block;
    }


    .menuLink a:link{

        padding: 2em;
    }

    .menuLink a:visited{

        padding: 2em;
    }
    .menuLink a:hover{

        padding: 2em;	
    }

    /* ------------------  admin menu  ------------------------------------------ */
    #adminMenu{



        margin: 2em;

    }


}
/*************************************************/
@media screen and (min-width: 1200px){

}